<div class="container">

    <form [formGroup]="funcionarioForm" (ngSubmit)="salvar()">
        <img [src]="fotoPreview" alt="" *ngIf="fotoPreview.length > 0">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input type="text" matInput name="funcionario-nome" formControlName="nome" placeholder="João Silva" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput name="funcionario-email" formControlName="email"
                placeholder="seuemail@gmail.com" />
        </mat-form-field>

        <div class="file-div">
            <input type="file" accept="image/*" #fileInput id="fileInput" (change)="recuperarFoto($event)" />
            <button type="button" mat-stroked-button color="primary" (click)="fileInput.click()"> Selecione uma imagem
            </button>
        </div>

        <div class="div-buttons">
            <button type="submit" mat-raised-button color="primary" [disabled]="funcionarioForm.invalid">
                Adicionar
            </button>
        </div>
    </form>
</div>