mat-card,
.loader {
  height: calc(100vh - 400px);
  padding: 16px;
  position: sticky;
  top: 16px;
  left: 0;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding-top: 150px;
}
