mat-card,
.loader {
  height: calc(100vh - 250px);
  padding: 16px;
  position: sticky;
  top: 16px;
  left: 0;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  padding-top: 50px;
}

mat-card-header {
  display: flex;
  flex-direction: column;

  img {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 3px black;
  }
  mat-card-title {
    font-size: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  mat-card-subtitle {
    font-size: 25px;
  }
}

.sub-button {
  margin-top: 20px;
  margin: auto;
  width: 100%;
}

#input-foto {
  display: none;
}
