<div class="container">

    <form [formGroup]="funcionarioForm">

        <img [src]="fotoPreview" alt="" *ngIf="fotoPreview.length > 0">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input type="text" matInput name="funcionario-nome" formControlName="nome" placeholder="João Silva" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput name="funcionario-email" formControlName="email"
                placeholder="seuemail@gmail.com" />
        </mat-form-field>

        <div class="file-div">
            <mat-label></mat-label>
            <input type="file" accept="image/*" name="funcionario-foto" #fileInput id="fileInput"
                (change)="recuperarFoto($event)" />
            <button type="button" mat-stroked-button color="primary" (click)="fileInput.click()"> Selecione uma imagem
            </button>
        </div>
    </form>
    <div class="div-buttons">
        <button mat-raised-button color="primary" [mat-dialog-close]="funcionarioForm.value"
            [disabled]="funcionarioForm.invalid" (click)="salvar()">
            Adicionar
        </button>
        <button mat-raised-button color="warn" mat-dialog-close>
            Cancelar
        </button>
    </div>
</div>